## hamza rashid
## fa25-bbd-034

## Q:1

In [26]:
print(" Even numbers from 2 to 20:")
for num in range(2, 21, 2):
    print(num)

 Even numbers from 2 to 20:
2
4
6
8
10
12
14
16
18
20

## Q:2

In [27]:
print(" Names in uppercase:")
names = ["Ali", "Hamza", "Sara", "Ayesha", "Usman"]
for name in names:
    print(name.upper())

 Names in uppercase:
ALI
HAMZA
SARA
AYESHA
USMAN

## Q:3

In [28]:
print(" Numbers from 10 to 1 in reverse:")
for i in range(10, 0, -1):
    print(i)

 Numbers from 10 to 1 in reverse:
10
9
8
7
6
5
4
3
2
1

## Q:4

In [36]:
print(" Numbers divisible by 3:")
numbers = [4, 9, 12, 15, 17, 20, 21, 25]
for n in numbers:
    if n % 3 == 0:
        print(n)

 Numbers divisible by 3:
9
12
15
21

## Q:5

In [37]:
print(" Squares of numbers from 1 to 10:")
for i in range(1, 11):
    print(f"{i}x{i} = {i ** 2}")

 Squares of numbers from 1 to 10:
1x1 = 1
2x2 = 4
3x3 = 9
4x4 = 16
5x5 = 25
6x6 = 36
7x7 = 49
8x8 = 64
9x9 = 81
10x10 = 100

## Q:6

In [38]:
print(" Temperatures in Fahrenheit:")
celsius = [0, 10, 20, 30, 40]
for c in celsius:
    f = (c * 9/5) + 32
    print(f"{c}C = {f}F")

 Temperatures in Fahrenheit:
0C = 32.0F
10C = 50.0F
20C = 68.0F
30C = 86.0F
40C = 104.0F

## Q:7

In [39]:
print(" Multiplication Table of 5:")
for i in range(1, 11):
    print(f"5 x {i} = {5 * i}")

 Multiplication Table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## Q:8

In [40]:


print("Sum of all numbers in a list:")
nums = [5, 10, 15, 20, 25]
total = 0
for n in nums:
    total += n
print("Sum =", total)

Sum of all numbers in a list:
Sum = 75

## Q:9

In [41]:
print("Characters in a string:")
text = "Business"
for ch in text:
    print(ch)

Characters in a string:
B
u
s
i
n
e
s
s

## Q:10

In [42]:
print("Words with more than 5 letters:")
words = ["apple", "banana", "grapes", "kiwi", "pineapple", "pear"]
for word in words:
    if len(word) > 5:
        print(word)

Words with more than 5 letters:
banana
grapes
pineapple